<div class="article">
	<div class="section">
		<%= h comment.comment %>		
	</div>
	
	<div class="footer">
	  <% if comment.spam? %><strong>SPAM</strong> -<% end %>
		<% if comment.user -%>
			<%= comment.user.username %>
		<% elsif comment.name.blank? -%>
			Someone
		<% else -%>
			<%= h comment.name %>
		<% end -%>
		was quite thoughtful, don't you think?
		
		<span class="time"><%= comment.created_at.to_s(:simple) %></span>
	</div> <!-- footer -->
</div> <!-- /article -->
