<% if !@comment.new_record? -%>
{
	success: true,
	message: "Your opinion has been duly noted.",
	comment: "<%= escape_javascript(render(:partial => 'comment.html.erb', :locals => { :comment => @comment })) %>"
}
<% else -%>
{
	success: false,
	message: "Your shit was invalid, homes.",
	errors: '<ul class="validation-errors"><li><%= escape_javascript @comment.errors.full_messages.join('</li><li>') %></li></ul>'
}
<% end -%>