<% if !@new_entry.new_record? -%>
{
	success: true,
	message: "More submissions need to be successful.",
	entry: "<%= escape_javascript(render(:partial => 'entry.html.erb', :locals => { :entry => @new_entry })) %>"
}
<% else -%>
{
	success: false,
	message: "More submissions need to be filled out correctly.",
	errors: '<ul class="validation-errors"><li><%= escape_javascript @new_entry.errors.full_messages.join('</li><li>') %></li></ul>'
}
<% end -%>