%section#entries
- content_for :javascript do
  = javascript_include_tag "application"
  :javascript
    $(function () {
      MTNT.init(#{ @entries.to_json({ only: ["id", "noun", "needs", "verb", "created_at"], include: { user: { only: ["id", "name"] } } }) });
    });
