<div id="page-header">
	<%= will_paginate @entries %>
	
	<h1><%= @sort_type %></h1>
	<div class="clear"></div>
</div>


<div id="entries" class="section">
	<%= render :partial => "entry_mobile" %>
</div>

<%= will_paginate @entries %>