<% title 'Entries' %>

<div id="page-header">
  <form action="/" method="get" id="search-form">
    <fieldset>
      <input type="text" name="search" value="<%= params[:search] %>" />
      <input type="submit" value="Search" />
    </fieldset>
  </form>
	
	<h1><%= @username ? @username + "'s Entries" : @sort_type %></h1>
	<div class="clear"></div>
</div>


<div id="entries" class="section">
	<%= render :partial => @entries %>
</div>

<%= will_paginate @entries %>
