<section id="entries">
	<%= render :partial => @entry %>
</section>

<h2>The Internet says:</h2>

<section id="comments">
	<% if @entry.comments.blank? -%>
		<p>Nothing. Can you believe it?</p>
	<% else -%>
		<%= render :partial => 'comments/comment', :collection => @entry.comments.reject(&:new_record?) %>
	<% end -%>
</section>

<section id="comment">
	<%= render :partial => 'comments/comment_form' %>
</section>