<div id="entries" class="section">
	<%= render :partial => @entry %>
</div>

<div id="comment" class="section">
	<%= render :partial => 'comments/comment_form' %>
</div>

<h2>The Internet says:</h2>

<div id="comments" class="section">
	<% if @entry.comments.blank? -%>
		<p>Nothing. Can you believe it?</p>
	<% else -%>
		<%= render :partial => 'comments/comment', :collection => @entry.comments.reject(&:new_record?) %>
	<% end -%>
</div>
