<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Activation instructions for morethingsneed.to</title>
	</head>
	<body>
		<h1>Activation instructions for morethingsneed.to</h1>
		
		<p>Greetings <%= @username %>,</p>
		
		<p>A new account has been registered for you on <a href="http://morethingsneed.to/">morethingsneed.to</a>. In order to activate your new account and complete the registration process, please visit the following link:</p>
		
		<p><a href="<%= @account_activation_url %>"><%= @account_activation_url %></a></p>

		<p>
			Thanks for registering and we look forward to your submissions!<br>
			The morethingsneed.to team
		</p>
	</body>
</html>