<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">	
		<title>MTNT Contact Form Submission</title>	
	</head>
	<body>
		<h1>MTNT Contact Form Submission</h1>
		
		<p>Hello stupid assholes,</p>
		
		<p><%= mail_to @contact.real_email, h(@contact.name) %> has sent you the following message from the morethingsneed.to contact form:</p>
		
		<p><%=h @contact.message %></p>
	</body>
</html>