<header class="line heading spaced stripe cactus site-header">
  <div class="container">

    <h1 class="unit heading logo">
      <a href="/" title="More Things Need To: The best Mad Lib ever"><span>More Things</span> <span>Need To</span></a>
    </h1>

    <%= render partial: "partials/nav" %>

    <%= render partial: "partials/userbox" %>
  </div>
</header>
