<footer class="site-footer">
  <div class="container">
    <p>Created by Jimmy Cuadra and Michael Chadwick.</p>

    <small>&copy; <%= Time.now.year %> Jimmy Cuadra. All rights reserved.</small>
  </div>
</footer>
