<% if logged_in? %>
  <nav class="last-unit userbox logged-in ocotillo">
    <span>Logged in as <%= current_user.name %></span><br />
    <span><%= link_to "Log out", logout_path %></span>
  </nav>
<% else %>
  <nav class="last-unit userbox ocotillo">
    <span>Log in with</span>

    <ul class="line">
      <li class="unit"><a href="/auth/facebook" class="auth-button" title="Log in with Facebook">Facebook</a></li>
      <li class="unit"><a href="/auth/twitter" class="auth-button twitter" title="Log in with Twitter">Twitter</a></li>
      <li class="last-unit"><a href="/auth/google" class="auth-button google" title="Log in with Google">Google</a></li>
    </ul>
  </nav>
<% end %>
