/* universal elements */

body {
	background: #a97d5d;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin: 0;
	-webkit-text-size-adjust: none;
}

a, 
a:active, 
a:visited {
	color: #c13100;
	text-decoration: none;
}

p {
	margin: 10px;
}

.clear {
	clear: both;
}

h1 {
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 3px auto;
	padding: 0 6px;
	text-shadow: #3e3e3e 1px 1px 2px;
}

h1 a, 
h1 a:visited, 
h1 a:active {
	color: inherit;
	text-decoration: none;
}

h1 a:hover {
	color: #f6a03d;
	text-decoration: none;
}

h2 {
	font-size: 16px;
	margin: 18px auto 18px 9px;
}

.pot, 
.hidden {
	display: none;
}

dl {
	background: #cdbfac;
	color: #000;
	display: inline-block;
	border: 1px solid #000;
	margin: 0 10px 10px;
	padding: 9px;
}

dl dt,
dl dd {
  margin-bottom: 18px;
}

dl.compressed dt,
dl.compressed dd {
  margin-bottom: 0;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin-left: 18px;
}

input[type=checkbox] {
	height: 20px;
	margin-top: 4px;
	width: 20px;
}
input[type=checkbox] + label {
	clear: none;
	float: left;
	margin-top: 5px;
}
input[type=submit] {
	padding: 1px 3px 5px;
}

small {
	font-size: 12px;
}

/* structure */

#bucket {
	background: #58402b url(/images/background_mobile.jpg) repeat-x;
	margin: 0;
	padding: 0;
}

#header #title-link {
	background: #ddd;
	background: transparent;
	color: #444;
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	padding-top: 2px;
	text-align: center;
	text-transform: uppercase;
}
#header #title-link:hover {
	text-decoration: none;
}

#content {
	background: transparent;
	margin: 0 auto;
}

#page-header {
	margin-top: 0;
}

#page-header .pagination {
	color: #fff;
	display: none;
	float: right;
	margin-top: 3px;
	text-shadow: #000 1px 1px 2px;
}
#page-header .pagination a {
	color: #f6a03d;
}

.pagination {
	color: #fff;
	font-size: 16px;
	overflow: hidden;
	padding: 7px 3px 5px;
	text-align: right;
	text-shadow: #000 1px 1px 2px;
}
.pagination .previous_page, 
.pagination .next_page {
	background: #f6a03d;
	border: 1px solid #666;
	border-radius: 5px;
	color: #000;
	font: -webkit-small-control;
	padding: 4px 6px;
	text-shadow: none;
	-webkit-appearance: push-button;
	-webkit-box-sizing: border-box;
}
.pagination .previous_page {
	float: left;
}
.pagination .previous_page.disabled, 
.pagination .next_page.disabled {
	display: none;
}
.pagination a {
	color: #f6a03d;
}
.pagination > * {
	margin: 0 2px;
}

/* footer */

#footer {
  	background: #a97d5d;
  	border-top: 2px solid #000;
  	color: #2b2b2b;
  	font-size: 16px;
  	margin: 0 auto;
}

#footer a {
  	color: #ddd;
	font-size: 14px;
  	font-weight: normal;
	line-height: 15px;
}

#footer-content {
  	margin: 0 auto;
  	padding: 9px 9px 6px;
}

#footer-content li {
  	float: left;
  	font-size: 14px;
  	height: 140px;
  	margin-bottom: 2px;
	width: 115px;
}
#footer-content li.bottom {
	height: 100px;
}

#footer-content li span {
  	font-weight: bold;
  	margin-top: 10px;
}

#footer-content li li {
	clear: left !important;
	float: left !important;
	font-weight: normal;
	height: auto;
	margin-bottom: 0;
}

#footer-content li li:first-child {
  float: none;
  margin-top: 2px;
}

#footer #device-change {
	background: #6d513c;
	border-top: 2px solid #000;
	clear: left;
	font-size: 12px;
	margin: 0 auto;
	padding: 5px 9px;
	text-align: left;
}

#footer #device-change a {
	font-size: 12px;
}

#footer p#legal {
	background: #9a6f51;
  	clear: both;
	font-size: 12px;
	line-height: 14px;
	margin: 0;
	padding: 9px;
}
#footer p#legal a {
	font-size: 12px;
	line-height: 13px;
}

/* noscript */

#noscript,
#notification {
  background: #f6a03d;
  border-bottom: 1px solid #000;
  color: #000;
  padding: 9px;
  text-align: center;
}

#notification {
  opacity: 0;
}

#notification a,
#notification a:visited {
  color: #3b3b3b;
  font-weight: bold;
  text-decoration: underline;
}

/* search */

#search-form {
  float: right;
  height: 14px;
  margin-top: 2px;
  width: 183px;
}

#search-form fieldset {
  margin: 0;
}

#search-form input[type=text] {
  float: left;
  height: 8px;
  padding: 5px 3px;
  width: 100px;
}

#search-form input[type=submit] {
  clear: none;
  float: left;
  margin-left: 2px;
  margin-right: 0;
}

/* add entry */

#add {
	background: #a97d5d;
	border: 1px solid #000;
	border-left: 0;
	border-right: 0;
	color: #fff;
	font-weight: bold;
	padding: 1px 0 4px;
	text-align: center;
}

#add form fieldset {
  display: inline;
  margin: 0;
}

#add form input, 
#add form label, 
#add form select {
	clear: none;
	float: none;
	margin: 0;
	padding: 2px;
	vertical-align: middle;
	width: auto;
}

#add form input,
#add form select {
	border: 1px solid #666;
}

#add form input[type=text] {
	font-size: 12px;
	height: 8px;
	margin: 0;
	padding: 5px 3px;
	width: 140px;
}

#add form input[type=text]#noun {
	width: 185px;
}
#add form input[type=text]#verb {
	width: 195px;
}

#add form input[type=submit] {
	padding: 2px 3px;
}

#add form label {
	padding: 4px 0;
}

#add form select {
	color: #000;
	margin: 4px 2px;
	text-align: center;
}

#add span {
	vertical-align: middle;
}

/* nav */
#nav {
	background-color: #cdbfac;
	border-bottom: 1px solid #000;
	border-top-width: 0;
	color: #000;
	font-size: 12px;
	-moz-box-shadow: #3e3e3e 0 1px 3px;
	overflow: hidden;
	padding: 1px 6px;
	text-align: center;
	-webkit-box-shadow: #3e3e3e 0 1px 3px;
}

#nav li {
	float: left;
  	margin-right: 1px;
	padding: 0 2px;
	text-align: center;
}
#nav li.section {
	clear: left;
	font-weight: bold;
}

#nav li a {
	padding: 1px 3px;
}
#nav li a.current {
  	background: #a97d5d;
  	border-radius: 3px;
  	color: #fff;
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
}

#nav .last {
	clear: left;
}

/* entries */

.article {
	color: #000;
	margin: 0 auto;
}

.article:first-child {
	margin-top: 0;
}

.article .header {
	background: #f6a03d;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	font-size: 12px;
	font-weight: normal;
	padding: 2px 9px;
}

.article .header.new-entry {
  background-image: #0f0 url(/images/new_article_header_gradient.png);
  color: #fff;
}

.article .header.spam-entry {
  background-image: #f00 url(/images/spam_article_header_gradient.png);
  color: #fff;
}

.article .header a, 
.article .header a:active, 
.article .header a:visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}

.article .header a:hover {
	text-decoration: none;
}

.article .header .share-links {
	display: none;
	float: right;
}

.article .datetime, 
.article .links {
	font-size: 12px;
	font-weight: normal;
}

.article .section {
	background-color: #eee;
	border: 0;
	font-size: 14px;
	margin-bottom: 0;
	padding: 9px;
}

.article .section img {
	margin-right: 4px;
	margin-top: 8px;
}

.article .section-content {
	background-color: none;
	border: none;
	font-size: 16px;
	line-height: 16px;
	margin: 0;
	padding: 0;
}

.article .section-content p.meta {
	font-size: 12px;
  margin-bottom: 9px;
}

.article .section-content p.meta a,
.article .section-content p.meta a:visited {
  color: #c13100;
}

.article .section-links, 
.article .comment-links {
	font-size: 12px;
}

.article .section-links {
	margin-bottom: 5px;
}

.article .section-links form {
	display: inline-block;
	margin-left: 10px;
}

.article .section-links form:first-child {
	margin-left: 0;
}

.article .section-links form fieldset {
  display: inline;
  margin: 0;
  vertical-align: middle;
}

.article .section-links .vote-button {
	background: transparent;
	border: 0;
	height: 17px;
	-moz-box-shadow: none;
	text-indent: -9999px;
	-webkit-box-shadow: none;
	width: 19px;
}

.article .section-links .vote-region {
	float: left;
	margin-right: 10px;
}

.article .section-links .vote-up-button {
  background: url(/images/icon_vote_up.png) no-repeat;
	padding: 0;
}

.article .section-links .vote-down-button {
  background: url(/images/icon_vote_down.png) no-repeat;
	padding: 0;
}

.article .comment-links {
	clear: left;
	margin-top: 5px;
}

.article p {
	margin: 0;
}

.article p:first-child {
	margin-bottom: 9px;
}

.article form, 
.article form input {
	display: inline;
	margin: 0;
}

.article form input[type=submit] {
	margin: 0 0 4px;
	padding: 2px 3px;
}

/* forms */

form legend {
	font-weight: bold;
	padding-bottom: 18px;
	padding-left: 10px;
}

form fieldset {
	margin: 18px auto;
}

form label {
	clear: left;
	float: left;
	margin-bottom: 5px;
	margin-left: 10px;
	text-align: left;
	vertical-align: top;
}

form label.required {
  font-weight: bold;
}

form li {
	list-style: none;
}

form input, 
form textarea {
	background: #fff4e8;
	border: 1px solid #333;
	clear: left;
	float: left;
	margin: 0 0 9px 9px;
	resize: none;
	width: 285px;
}

form input[type=text],
form input[type=password],
form textarea {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

form input[type=submit], 
form input[type=button] {
	background: #f6a03d;
	cursor: pointer;
	height: 26px;
	padding: 2px 3px;
	width: auto;
}

form input[type=hidden] {
	border-width: 0;
}

form textarea {
	height: 120px;
}

/* flash and error messages */

.flash {
	background-color: #c13100;
	border-bottom: 1px dashed #000;
	border-left: 1px dashed #000;
	border-right: 1px dashed #000;
	border-top: 0;
	color: #fff;
	padding: 9px;
	margin: 0 auto;
	width: 80%;
}

.flash .close,
#notification .close {
	background: url(/images/close.gif) no-repeat;
	border: 2px solid #000;
	cursor: pointer;
	float: right;
	height: 15px;
	width: 15px;
}

.flash .validation-errors {
	list-style-type: disc;
	margin-top: 9px;
}

.flash .validation-errors li {
	margin-left: 18px;
}

.flash.success {
	background-color: #090;
	color: #fff;
}

.error-text {
	color: #f00;
	font-style: italic;
}

.success-text {
	color: #090;
	font-style: italic;
}

/* comments */

#comments {
	margin-bottom: 36px;
}

#comments .article {
	background-color: #cdbfac;
	border: 1px solid #000;
	margin-bottom: 18px;
	padding: 9px;
}

#comments .article.spam-comment {
  background-color: #730604;
  color: #fff;
}

#comments .article.spam-comment a {
  color: #fff;
}

#comments .article.spam-comment .section {
  border-bottom-color: #cdbfac;
}

#comments .article .section {
	background-color: transparent;
	border: 0;
	border-bottom: 1px dashed #666;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 9px;
	padding: 0;
	padding-bottom: 18px;
}

#comments .article .footer {
	margin: 0;
	text-align: left;
}

#comments .article .footer .time {
	float: right;
}

/* comment form */

#comment textarea {
	height: 90px;
	width: 285px;
}

/* server error pages */

#content.server-error p {
  color: #000;
}

#content.server-error a {
  color: #000;
  text-decoration: underline;
}

#content.server-error a:hover {
  text-decoration: none;
}

/* meta */

p.meta {
  font-style: italic;
}

p.meta a,
p.meta a:visited {
  color: #fff;
  font-style: normal;
}

#userbox-wrapper p.meta {
  font-size: 11px;
  margin: 0 8px 8px;
}

#userbox-wrapper p.meta a {
  color: #c13100;
}

/* user stats */

dl.user-stats,
dl.user-stats dt,
dl.user-stats dd {
  background: transparent;
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
}

dl.user-stats dt,
dl.user-stats dd {
  float: left;
}

dl.user-stats dt {
  clear: left;
  margin-right: 10px;
}

/* edit entry */
select#entry_needs {
	clear: left;
	float: left;
	margin: 5px 9px 7px;
}