/* universal elements */

body {
	background: #f5ede3 url(/images/bgPaisleyRed2.jpg);
	color: #000;
	line-height: 18px;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

a, a:active, a:visited {
	color: #c13100;
	text-decoration: none;
}

a:hover {
	color: #666;
	text-decoration: underline;
}

p {
	margin-bottom: 18px;
}

header h1 {
	color: #c13100;
	font-family: "Trebuchet MS", Trebuchet, sans-serif;
	font-size: 28px;
	line-height: 28px;
	margin: 0 0 26px 0;
	text-shadow: 2px 2px 2px #888;
}

h1 {
	font-family: "Trebuchet MS", Trebuchet, sans-serif;
	font-size: 18px;
	line-height: 24px;
	margin: 18px auto;
}

h1 a, h1 a:visited, h1 a:active {
	color: inherit;
	text-decoration: none;
}

h1 a:hover {
	color: #f6a03d;
	text-decoration: none;
}

h2 {
	font-size: 16px;
	margin: 18px auto;
}

footer {
	background: #e1d4c0;
	border: 2px solid #000;
	border-bottom-radius: 5px;
	font-size: 11px;
	margin: 0 auto 18px auto;
	-moz-border-radius: 5px;
	padding: 4px;
	text-align: center;
	-webkit-border-radius: 5px;
	width: 680px;
}

.pot, .hidden {
	display: none;
}

dialog {
	background: #cdbfac;
	display: inline-block;
	border: 1px solid #000;
	margin-bottom: 18px;
	padding: 9px;
}

dialog dt {
	font-weight: bold;
}

dialog dd {
	margin-left: 18px;
}

small {
	font-size: 12px;
}

.pagination {
	text-align: center;
}

/* structure */

#bucket {
	background: #e1d4c0;
	background-position: 66px 0;
	border: 2px solid #b13100;
	border-top: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 0 auto 18px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	padding: 10px;
	position: relative;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	width: 780px;
}

/* nav */

nav {
	background-color: #cdbfac;
	border: 1px solid #000;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-width: 0;
	margin-bottom: 0;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	padding: 3px 10px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

nav span {
	float: right;
}

#logbox {
	background: #fff;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	display: none;
	float: right;
	margin: 0 4px 0 0;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	padding: 0;
	position: relative;
	width: 170px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	z-index: 5;
}

#logbox legend, #logbox label, #logbox input {
	margin: 2px 0;
	padding: 0;
}

#logbox fieldset {
	margin: 0 0 8px 0;
	padding: 0 8px;
}

#logbox legend {
	border-bottom: 1px dashed #000;
	margin: 0 0 4px 0;
	padding: 2px 0 0 0;
	width: 100%;
}

#logbox label, #logbox input {
	clear: left;
	float: left;
	margin: 0;
	text-align: left;
	width: 150px;
}

#logbox label {
	margin: 4px 0 0 0;
	padding: 0;
}
	
#logbox input {
	width: 150px;
}

#logbox input[type=submit] {
	margin-top: 8px;
	width: 150px;
}

/* add entry */

#add {
	background-color: #a97d5d;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	color: #e3e3e3;
	font-weight: bold;
	left: -10px;
	padding: 10px;
	position: relative;
	text-align: center;
	width: 780px;
}

#add form input, #add form label {
	margin: 0;
	padding: 3px;
	width: auto;
}

#add form input[type=text] {
	width: 200px;
}

#add form input[type=submit] {
	margin-left: 2px;
}

#add span {
	vertical-align: middle;
}

/* entries */

article {
	margin: 9px auto;
}

article header {
	background-color: #f6a03d;
	border: 1px solid black;
	border-radius: 4px 0 0 4px;
	font-size: 12px;
	font-weight: normal;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	padding: 4px 9px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}

article header a, article header a:active, article header a:visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}

article header a:hover {
	text-decoration: none;
}

article .datetime, article .links {
	font-size: 12px;
	font-weight: normal;
}

article section {
	background-color: #eee;
	border: 1px solid #000;
	border-top: 0;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 18px;
	padding: 9px;
}

article section img {
	margin-right: 4px;
	margin-top: 8px;
}

article section.links {
	background-color: none;
	border: none;
	margin: 0;
	padding: 0;
}

article p {
	border-bottom: 1px dashed #666;
	margin-bottom: 9px;
	padding-bottom: 24px;
}

article form, article form input {
	display: inline;
	margin: 0;
}

article form input[type=submit] {
	margin: 3px 0;
}

/* comments */

#comments {
	margin-bottom: 36px;
}

/* forms */

form legend {
	font-weight: bold;
	padding-bottom: 18px;
}

form fieldset {
	margin: 18px auto;
}

form label {
	display: inline-block;
	margin-bottom: 9px;
	text-align: right;
	vertical-align: top;
	width: 90px;
}

form li {
	list-style: none;
}

form input, form textarea {
	border: 1px solid #999;
	margin: 0 0 9px 9px;
	width: 300px;
}

form input[type=text], form textarea {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

form input[type=submit], form input[type=button] {
	background-color: #c0c0c0;
	cursor: pointer;
	margin-left: 102px;
	width: auto;
}

form input[type=hidden] {
	border-width: 0;
}

form input:hover, form textarea:hover {
	border: 1px solid #000;
}

form textarea {
	height: 180px;
}

/* flash and error messages */

.validation-errors, .flash {
	background-color: #cdbfac;
	border: 1px solid #000;
	color: #c13100;
	padding: 9px;
	margin: 9px;
}

.flash {
	background-color: #f6a03d;
	border-style: dashed;
	color: #000;
}

.flash .close {
	background: url(/images/close.gif) no-repeat;
	border: 2px solid #000;
	cursor: pointer;
	float: right;
	height: 15px;
	width: 15px;
}

.flash .close:hover {
	border: 2px solid #c13100;
}

.validation-errors header {
	font-weight: bold;
}

.validation-errors ul {
	margin-left: 18px;
}

.validation-errors li {
	list-style: disc;
}

/* comments */

#comments article {
	background-color: #cdbfac;
	border: 1px solid #000;
	margin-bottom: 18px;
	padding: 9px;
}

#comments article section {
	background-color: transparent;
	border: 0;
	border-bottom: 1px dashed #666;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 9px;
	padding: 0;
	padding-bottom: 18px;
}

#comments article footer {
	margin: 0;
	text-align: left;
}

#comments article footer time {
	float: right;
}

/* style switcher */

#style_switcher {
	margin: 0;
	padding: 0 4px 8px 0;
	text-align: left;
}
#style_switcher input {
	margin: 0 4px 0 0;
}