/* universal elements */

@font-face {
	font-family: 'BebasRegular';
	src: url('/fonts/BEBAS___.eot');
	src: local('Bebas Regular'), local('Bebas'), url('/fonts/BEBAS___.woff') format('woff'), url('/fonts/BEBAS___.TTF') format('truetype'), url('/fonts/BEBAS___.svg#Bebas') format('svg');
}

body {
	background: #6d513c url(/images/background.jpg) no-repeat center top;
	color: #fff;
	line-height: 18px;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

a, 
a:active, 
a:visited {
	color: #c13100;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin-bottom: 18px;
}

.clear {
	clear: both;
}

#header #title-link {
	display: block;
	height: 50px;
	margin: 10px auto;
	text-indent: -9999px;
	width: 446px;
}

h1 {
	font-family: 'Bebas Regular', 'Bebas', Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 18px auto;
}

h1 a, 
h1 a:visited, 
h1 a:active {
	color: inherit;
	text-decoration: none;
}

h1 a:hover {
	color: #f6a03d;
	text-decoration: none;
}

h2 {
	font-size: 16px;
	margin: 18px auto;
}

#footer {
	background: #a97d5d;
	border: 1px solid #000;
	border-bottom-radius: 5px;
	color: #fff;
	font-size: 12px;
	margin: 0 auto 18px auto;
	-moz-border-radius: 5px;
	padding: 4px;
	text-align: center;
	-webkit-border-radius: 5px;
	width: 680px;
}

.pot, 
.hidden {
	display: none;
}

dl {
	background: #cdbfac;
	color: #000;
	display: inline-block;
	border: 1px solid #000;
	margin-bottom: 18px;
	padding: 9px;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin-left: 18px;
}

small {
	font-size: 12px;
}

.pagination {
	color: #fff;
	text-align: right;
}

#page-header .pagination {
	color: #000;
	float: right;
	margin-top: 4px;
}

.pagination a {
	color: #f6a03d;
}

#page-header .pagination a {
	color: #a92b00;
}

/* structure */

#content {
	background: transparent;
	margin: 0 auto 18px;
	padding: 10px;
	width: 960px;
}

/* add entry */

#add {
	background: #a97d5d url('/images/add_gradient.png') repeat-x;
	border: 1px solid #000;
	border-left: 0;
	border-right: 0;
	color: #fff;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

#add form input, 
#add form label {
	margin: 0;
	padding: 3px;
	width: auto;
}

#add form input,
#add form select {
	border: 1px solid #666;
}

#add form input[type=text] {
	font-size: 12px;
	width: 200px;
}

#add form select {
	height: 22px;
	vertical-align: middle;
}

#add form input[type=submit] {
	margin-left: 2px;
}

#add span {
	vertical-align: middle;
}

/* nav */

#nav {
	background-color: #cdbfac;
	border: 1px solid #000;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-width: 0;
	color: #000;
	margin: 0 auto;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	padding: 3px 10px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	width: 960px;
}

#nav span {
	float: right;
}

#userbox-wrapper {
	margin: 0 auto;
	position: relative;
	width: 960px;
}

.userbox {
	background: #fff;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	color: #000;
	display: none;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	position: absolute;
	right: 14px;
	width: 170px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	z-index: 5;
}

.userbox legend, .userbox label, .userbox input {
	margin: 2px 0;
}

.userbox fieldset {
	margin: 0 0 8px 0;
	padding: 0 8px;
}

.userbox legend {
	border-bottom: 1px dashed #000;
	margin: 0 0 4px 0;
	padding: 2px 0 0 0;
	width: 100%;
}

.userbox label, .userbox input {
	clear: left;
	float: left;
	margin: 0;
	text-align: left;
	width: 150px;
}

.userbox label {
	margin: 4px 0 0 0;
	padding: 0;
}
	
.userbox input {
	width: 150px;
}

.userbox input[type=submit] {
	margin: 8px 0 0 0;
	padding: 3px;
	width: auto;
}

/* entries */

.article {
	color: #000;
	margin: 0 auto 24px;
}

.article:first-child {
	margin-top: 18px;
}

.article .header {
	background: #f6a03d url(/images/article_header_gradient.png) repeat-x;
	border: 1px solid black;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 12px;
	font-weight: normal;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	padding: 4px 9px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}

.article .header a, 
.article .header a:active, 
.article .header a:visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}

.article .header a:hover {
	text-decoration: none;
}

.article .header .share-links {
	float: right;
}

.article .datetime, 
.article .links {
	font-size: 12px;
	font-weight: normal;
}

.article .section {
	background-color: #eee;
	border: 1px solid #000;
	border-top: 0;
	font-size: 14px;
	margin-bottom: 18px;
	padding: 9px;
}

.article .section img {
	margin-right: 4px;
	margin-top: 8px;
}

.article .section-content .comment-links {
	font-size: 12px;
}

.article .section-links {
	background-color: none;
	border: none;
	float: right;
	font-size: 12px;
	margin: 0;
	padding: 0;
	padding-left: 15px;
}

.article .section-links .vote-button {
	background: #d9d9d9;
	font-weight: bold;
	width: 23px;
}

.article .section-links .vote-up-button {
	color: #090;
}

.article .section-links .vote-down-button {
	color: #f00;
}

.article p {
	margin: 0;
}

.article p:first-child {
	margin-bottom: 9px;
}

.article form, .article form input {
	display: inline;
	margin: 0;
}

.article form input[type=submit] {
	margin: 3px 0;
}

/* comments */

#comments {
	margin-bottom: 36px;
}

/* forms */

form legend {
	font-weight: bold;
	padding-bottom: 18px;
}

form fieldset {
	margin: 18px auto;
}

form label {
	display: inline-block;
	margin-bottom: 9px;
	text-align: right;
	vertical-align: top;
	width: 90px;
}

form li {
	list-style: none;
}

form input, form textarea {
	background: #fff4e8 url(/images/input_background.png) repeat-x top left;
	border: 0;
	margin: 0 0 9px 9px;
	resize: none;
	width: 300px;
}

form input[type=text], 
form textarea {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

form input[type=submit], 
form input[type=button] {
	background-color: #c0c0c0;
	cursor: pointer;
	margin-left: 102px;
	width: auto;
}

form input[type=hidden] {
	border-width: 0;
}

form textarea {
	height: 180px;
}

form input[type=submit] {
	background-image: none;
}

/* flash and error messages */

.flash {
	background-color: #c13100;
	border: 1px dashed #000;
	border-top: 0;
	color: #fff;
	padding: 9px;
	margin: 0 auto;
	width: 760px;
}

.flash .close {
	background: url(/images/close.gif) no-repeat;
	border: 2px solid #000;
	cursor: pointer;
	display: none;
	float: right;
	height: 15px;
	width: 15px;
}

.flash .validation-errors {
	clear: right;
	list-style-type: disc;
	margin-top: 9px;
}

.flash .validation-errors li {
	margin-left: 18px;
}

.error {
	color: #f00;
	font-style: italic;
}

.success {
	color: #090;
	font-style: italic;
}

/* comments */

#comments .article {
	background-color: #cdbfac;
	border: 1px solid #000;
	margin-bottom: 18px;
	padding: 9px;
}

#comments .article .section {
	background-color: transparent;
	border: 0;
	border-bottom: 1px dashed #666;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 9px;
	padding: 0;
	padding-bottom: 18px;
}

#comments .article .footer {
	margin: 0;
	text-align: left;
}

#comments .article .footer .time {
	float: right;
}

/* comment form */

#comment textarea {
	height: 90px;
	width: 550px;
}

/* style switcher */

#style_switcher {
	margin: 0;
	padding: 0 4px 8px 0;
	text-align: left;
}
#style_switcher input {
	margin: 0 4px 0 0;
}