/* universal elements */

body {
	background: #f5ede3;
	color: #000;
	line-height: 18px;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

a, a:active, a:visited {
	color: #c13100;
	text-decoration: none;
}

a:hover {
	color: #666;
	text-decoration: underline;
}

p {
	padding: 8px;
}

header h1 {
	color: #c13100;
	font-family: "Trebuchet MS", Trebuchet, sans-serif;
	font-size: 28px;
	line-height: 28px;
	margin-bottom: 10px;
	padding: 4px;
	text-shadow: 2px 2px 2px #888;
}

h1 {
	clear: left;
	font-family: "Trebuchet MS", Trebuchet, sans-serif;
	font-size: 18px;
	margin-bottom: 4px;
	padding: 8px;
}

h1 a, h1 a:visited, h1 a:active {
	color: inherit;
	text-decoration: none;
}

h2 {
	clear: left;
	font-size: 16px;
	margin-top: 9px;
	padding: 8px;
}

footer {
	border-top: 1px solid #000;
	font-size: 11px;
	margin-bottom: 4px;
	padding: 4px;
	text-align: center;
}

.pot, .hidden {
	display: none;
}

dialog {
	background: #cdbfac;
	display: inline-block;
	border: 1px solid #000;
	margin: 18px 8px;
	padding: 9px;
}

dialog dt {
	font-weight: bold;
}

dialog dd {
	margin-left: 18px;
}

small {
	font-size: 12px;
}

.pagination {
	text-align: center;
}

/* structure */

#bucket {
	background: #e1d4c0;
	margin: 0;
	padding: 0;
	position: relative;
}

/* nav */

nav {
	border: 1px solid #000;
	border-left: 1px solid #444;
	border-right: 1px solid #444;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-width: 0;
	background-color: #cdbfac;
	font-size: 14px;
	margin: 0 0 18px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	padding: 2px 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}
	
nav span {
	border-bottom: 1px solid #000;
	border-left: 1px solid #444;
	border-right: 1px solid #444;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-width: 0;
	background-color: #e4cba9;
	clear: left;
	float: left;
	font-size: 14px;
	margin: 3px auto 10px auto;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	padding: 2px 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;	
}

/* add entry */

#add {
	background-color: #a97d5d;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	color: #e3e3e3;
	font-weight: bold;
	margin: 0 auto;
	padding: 2px 4px;
	position: relative;
	text-align: center;
}

#add form input, #add form label {
	margin: 0;
	padding: 3px;
	width: auto;
}

#add form label {
	clear: none;
	float: none;
	padding: 2px;
}

#add form input[type=submit] {
	margin-left: 5px;
	padding: 1px;
}

#add form input[type=text] {
	width: 75px;
}

#add span {
	vertical-align: middle;
}

/* entries */

article {
	clear: left;
	margin-top: 0;
}

article header {
	background-color: #f6a03d;
	border-top: 1px solid #000;
	font-size: 12px;
	font-weight: normal;
	padding: 4px 9px;
}

article header a, article header a:active, article header a:visited {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}

article header a:hover {
	text-decoration: none;
}

article .datetime, article .links {
	font-size: 12px;
	font-weight: normal;
}

article section {
	background-color: #cdbfac;
	border-top: 1px solid #000;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
	padding: 9px;
}

article section img {
	margin-right: 4px;
	margin-top: 8px;
}

article section.links {
	background-color: none;
	border: none;
	margin: 0;
	padding: 0;
}

article p {
	border-bottom: 1px dashed #666;
	padding: 8px 8px 24px 0;
}

article form, article form input {
	display: inline;
	margin: 0;
}

article form input[type=submit] {
	margin: 3px 0;
}

/* comments */

#comments {
	margin-bottom: 36px;
}

/* forms */

form legend {
	font-weight: bold;
	padding: 9px 0;
}

form fieldset {
	clear: left;
	margin-bottom: 0;
	padding: 8px;
}

form label {
	clear: left;
	display: inline-block;
	float: left;
	font-size: 12px;
	margin: 0 5px 0 0;
	padding: 0;
	text-align: right;
	vertical-align: top;
	width: 50px;
}

form li {
	list-style: none;
}

form input, form textarea {
	border: 1px solid #666;
	margin: 0 0 9px 9px;
}

form textarea {
	font-family: Arial, sans-serif;
	font-size: 14px;
	height: 180px;
	width: 215px;
}

form input[type=hidden] {
	border-width: 0;
}

form input[type=submit], form input[type=button] {
	background-color: #c0c0c0;
	cursor: pointer;
	width: auto;
}

/* flash and error messages */

.validation-errors, .flash {
	background-color: #cdbfac;
	border: 1px solid #000;
	color: #c13100;
	padding: 9px;
	margin: 9px;
}

.flash {
	background-color: #f6a03d;
	border-style: dashed;
	color: #000;
}

.flash .close {
	background: url(/images/close.gif) no-repeat;
	cursor: pointer;
	float: right;
	height: 17px;
	width: 17px;
}

.validation-errors header {
	font-weight: bold;
}

.validation-errors ul {
	margin-left: 18px;
}

.validation-errors li {
	list-style: disc;
}

/* comments */

#comments {
	margin: 9px 0 18px 0;
	padding: 0;
}

#comments article {
	background-color: #ddd2c2;
	border-top: 1px solid #000;
	margin-bottom: 0;
	padding: 9px;
}

#comments article section {
	background-color: transparent;
	border: 0;
	border-bottom: 1px dashed #666;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 9px;
	padding: 0;
	padding-bottom: 18px;
}

#comments article footer {
	border: 0;
	margin: 0;
	padding: 0;
	text-align: left;
}

#comments article footer time {
	float: right;
}

/* style switcher */

#style_switcher {
	margin: 0;
	padding: 0 4px 8px 8px;
	text-align: left;
}
#style_switcher input {
	margin: 0 4px 0 0;
}