<% title 'Resend Activation E-mail' %>

<h1>Resend Activation E-mail</h1>

<%= form_tag activations_path do %>
  <fieldset>
  	<legend>Enter your e-mail address to resend account activation instructions</legend>
  	<ol>
  		<li>
  			<%= label_tag 'email', 'E-mail' %>
  			<%= text_field_tag 'email' %>
  		</li>

  		<li>
  			<%= submit_tag 'Send instructions', :class => 'submit' %>
  		</li>
  	</ol>
  </fieldset>
<% end %>
