<% title 'Privacy Policy' %>

<h1>Privacy Policy</h1>

<p>
  <strong>More Things Need To</strong> takes your privacy seriously. All basic features on the site are usable without submitting any identifying information.
</p>

<p>
  When you register an account, your e-mail address is required to verify your account and to allow you to reset your password in the event that you forget it. The contact form also requires an e-mail address for the purpose of return correspondence. <strong>More Things Need To</strong> does not send unsolicited e-mail of any kind, nor does it provide any personal information you provide to any third parties.
</p>
