<h1>About the site</h1>

<p>morethingsneed.to was created in 2009 by Jimmy Cuadra and Michael Chadwick. The "more ____ need to ____" line is a long-running joke between us used to describe various situations in hilariously ridiculous terms. For example:</p>

<dialog>
	<dt>Don</dt>
	<dd>That guy was crazy! He took a swing at me with a lead pipe!</dd>
	
	<dt>Ralph</dt>
	<dd>Were you hurt?</dd>
	
	<dt>Don</dt>
	<dd>Nah, he missed me and I bolted.</dd>
	
	<dt>Ralph</dt>
	<dd>More things need to be swung at with a lead pipe and missed.</dd>
</dialog>

<p>We decided to create a web application for keeping track of all the funny lines we came up with. Then it occurred to us that we should share the love and let anyone contribute to the collection.</p>

<p>We hope the collection gives you some good laughs and that you contribute some good ones to crack us up as well.</p>

<p><small>* Credit for the example above goes to Jimmy's dad.</small></p>