<% if @contact.valid? -%>
{
	success: true,
	message: 'Congratulations, your message has been sent to to the administrators, where it will sit in their inboxes until they feel like reading them.'
}
<% else -%>
{
	success: false,
	message: 'You done made some errors.',
	errors: '<ul class="validation-errors"><li><%= escape_javascript @contact.errors.full_messages.join('</li><li>') %></li></ul>'
}
<% end -%>