$red: #8c3130
$linkColor: $red

@import "bootstrap"

body
  background: url("/assets/black_linen_v2.png")

.container-fluid
  background: $white

.copyright
  color: $white
  padding: 40px
  text-align: center
