$red: #8c3130
$black: #000

$linkColor: $red

$navbarBackground: $black

@import bootstrap

body
  background: url("/assets/black_linen_v2.png")

@mixin pt-sans
  font-family: "PT Sans Narrow", sans-serif

h1, h2, h3, h4, h5, h6
  @include pt-sans

.centered
  text-align: center

#no-js
  background: $white
  height: 100%
  position: absolute
  width: 100%

  .container-fluid
    padding: 0 20px

.bucket
  background: $white
  padding-top: 20px

.copyright
  color: $white
  padding: 40px
  text-align: center

.navbar
  margin-bottom: 0
  .brand
    @include pt-sans
    color: $red
    padding-top: 10px
    text-transform: uppercase

.navbar-inner
  @include border-radius(0)

.alert
  padding-bottom: 0
  padding-top: 9px

.entry
  margin-bottom: 20px
  header
    padding: 10px
    background: $black
    border-radius: 8px 8px 0 0
    color: $white
  .entry-body
    background: $grayLighter
    border: 1px solid $black
    padding: 10px
  .entry-text
    font-size: 18px
