/*
 *= require reset
 *= require oocss/grids
*/

@import "colors";

$line: 20px;

body {
  background: url("/assets/black_linen_v2.png");
  color: $white;
}

.main-content {
  background: $white;
  box-shadow: inset 0 3px 4px darken($lightgray, 33%);
  color: $black;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 960px;
}

a {
  color: $red;
}

a,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

p {
  line-height: $line;
  margin-bottom: $line / 2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Sans Narrow", sans-serif;
}

h1 {
  font-size: 30px;
}

.site-header {
  background: $black;
  color: $white;
  line-height: 30px;

  a {
    color: $white;
  }
}

.logo {
  margin-right: 20px;
  text-transform: uppercase;

  span {
    white-space: nowrap;
  }

  a {
    color: $red;
  }
}

.main-nav  {
  li {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    };
  }

  a {
    background: $darkgray;
    border-radius: 4px;
    padding: 5px 10px;
  }
}

.auth-button {
  background: url("/assets/auth_buttons.png") no-repeat top left;
  display: block;
  height: 32px;
  margin-left: 5px;
  text-indent: 9999px;
  width: 32px;
}

.twitter {
  background-position: -32px 0;
}

.google {
  background-position: -64px 0;
}

.entry {
  .padded {
    padding: 10px;
  }

  header {
    background: $black;
    border-radius: 8px 8px 0 0;
    color: $white;
  }

  .body {
    background: $lightgray;
    border: 1px solid $black;
    border-top: 0;
  }
}

.site-footer {
  text-align: center;

  small {
    font-size: 13px;
  }
}
