/*
 *= require reset
 *= require oocss/grids
*/

@import "colors";

.container {
  margin: 0 auto;
  max-width: 960px;
}

a {
  color: $grit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

p,
.spaced {
  padding: 20px 0;
}

.heading {
  font-family: "PT Sans Narrow", sans-serif;
}

.stripe {
  border-bottom: 3px solid $border;
}

.logo {
  font-size: 48px;
  line-height: 100px;
  margin-right: 40px;
  text: {
    shadow: 2px 2px 3px $border;
    transform: uppercase;
  }

  a {
    text-decoration: none;
  }

  span {
    white-space: nowrap;
  }
}

.main-header {
  nav {
    line-height: 100px;
    margin-right: 40px;
  }

  .login-nav {
    line-height: inherit;
  }
}

.main-nav  {
  li {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    };
  }

  a {
    border-radius: 4px;
    padding: 5px 10px;
  }

  a:hover {
    color: $cactus;
    background: $grit;
    text-decoration: none;
  }
}

.login-nav {
  border: 1px solid $border;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 192px;

  span {
    line-height: 14px;
  }

  li {
    line-height: 64px;
  }

  a {
    background: url("/assets/auth_buttons.png") no-repeat top left;
    display: block;
    height: 64px;
    text-indent: 9999px;
    width: 64px;
  }

  .twitter {
    background-position: 0 -64px;
  }

  .google {
    background-position: 0 -128px;
  }
}
