/*
 *= require reset
 *= require oocss/grids
*/

@import "colors";

.page {
  border-bottom: 3px solid #555;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

a {
  color: $grit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

p,
.content {
  padding: 20px 0;
}

.heading {
  font-family: "PT Sans Narrow", sans-serif;
}

.logo {
  font-size: 64px;
  text: {
    transform: uppercase;
    shadow: 2px 2px 3px #555;
  }

  a {
    text-decoration: none;
  }
}

.main-nav {
  margin-top: 24px;
}
