/* http://kuler.adobe.com/#themeID/1492484 */

$cactus: rgb(138, 147, 123);
$grit: rgb(61, 52, 50);
$monsoon: rgb(121, 144, 144);
$adobe: rgb(158, 103, 67);
$ocotillo: rgb(158, 142, 86);

$border: #555;
$glow: rgb(181, 192, 161);

.cactus {
  background: $cactus;
}

.grit {
  background: $grit;
}

.monsoon {
  background: $monsoon;
}

.adobe {
  background: $adobe;
}

.ocotillo {
  background: $ocotillo;
}
