%ul.nav.pull-right
  %li
    %p.navbar-text Log in with
  %li
    %a{ href: "/auth/facebook", title: "Log in with Facebook" }
      = image_tag("facebook_32.png", alt: "Log in with Facebook", height: 32, width: 32)
  %li
    %a{ href: "/auth/twitter", title: "Log in with Twitter" }
      = image_tag("twitter_32.png", alt: "Log in with Twitter", height: 32, width: 32)
  %li
    %a{ href: "/auth/google_oauth2", title: "Log in with Google" }
      = image_tag("google_32.png", alt: "Log in with Google", height: 32, width: 32)
  %li
    %a.persona-log-in{ href: "#", title: "Log in with your email address" }
      = image_tag("email_32.png", alt: "Log in with your email address", height: 32, width: 32)
