%nav.unit.main-nav
  %ul.line
    %li.unit
      %a{ href: "/", title: "Read entries" } Entries
    %li.unit
      %a{ href: "/", title: "Browse authors and their contributions" } Authors
    %li.unit
      %a{ href: "/", title: "Frequently asked questions" } FAQ
