:javascript
  var _gaq = [["_setAccount", "UA-5500916-10"], ["_trackPageview"], ["_trackPageLoadTime"]];
  (function (d, t) {
    var e = d.createElement(t), s = d.getElementsByTagName(t)[0];
    e.src = "http://www.google-analytics.com/ga.js";
    s.parentNode.insertBefore(e, s);
  })(document, "script");
