%header.line.heading.spaced.stripe.cactus.site-header
  .container
    %h1.unit.heading.logo
      %a{ href: "/", title: "More Things Need To: The best Mad Lib ever" }
        %span More Things
        %span Need To
    = render "nav"
    = render "userbox"
