%header.line.site-header
  .container
    = render "userbox"
    %h1.unit.logo
      %a{ href: "/", title: "More Things Need To: The best Mad Lib ever" }
        %span More Things
        %span Need To
    = render "nav"
