- if logged_in?
  %nav.unit-right.userbox
    %span Logged in as #{current_user.name}
    %br
    %span= link_to "Log out", logout_path, title: "Log out"
- else
  %nav.unit-right.line
    %span.unit Log in with
    %ul.unit.line
      %li.unit
        %a.auth-button{ href: "/auth/facebook", title: "Log in with Facebook" } Facebook
      %li.unit
        %a.auth-button.twitter{ href: "/auth/twitter", title: "Log in with Twitter" } Twitter
      %li.last-unit
        %a.auth-button.google{ href: "/auth/google", title: "Log in with Google" } Google
