<script id="tmpl-vote" type="text/x-jquery-tmpl">
	{{if success}}
		<span class="success-text">Voted and noted.</span> - 
	{{else}}
		<span class="error-text">You already voted.</span> - 
	{{/if}}
	Agreed! <span class="up_vote_count">${up}</span> Denied! <span class="down_vote_count">${down}</span>
</script>
