<script id="tmpl-vote" type="text/x-jquery-tmpl">
	{{if success}}
		<span class="success-text">Voted and noted.</span><br />
	{{else}}
		<span class="error-text">You already rocked the vote.</span><br />
	{{/if}}
	This needs to happen <span class="up_vote_count">${up}</span><br />
	This doesn't need to happen <span class="down_vote_count">${down}</span>
</script>
