<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>morethingsneed.to</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
	<!--[if IE]> <link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection" /> <![endif]-->
</head>
<body>
	<div id="bucket">
		<h1><a href="/">morethingsneed.to</a></h1>

		<%= yield %>
	</div>
	<div class="copyright">&copy; 2009 Jimmy Cuadra and Michael Chadwick.</div>
</body>
</html>
